.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	padding: 20px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin: 10px;
	flex-basis: 300px;
	flex-grow: 1;
	background-color: whitesmoke;
	overflow: hidden;
}

.card img {
  width: 150px;
  height: 100px;
  border-radius: 20px;
  object-fit: cover; 
  flex-shrink: 0;
}

.card h3 {
	flex-grow: 1;
	padding-left: 22px;
	font-size: 22px;
	margin: 0;
}
